<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/27f0975d-6e7e-4571-b7aa-7e5838f101da/resourceGroups/API/providers/Microsoft.ApiManagement/service/MPCAPI/apis/MahekaruProfileCoreAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/27f0975d-6e7e-4571-b7aa-7e5838f101da/resourcegroups/API/providers/Microsoft.Web/sites/APIGrouop</ResourceId>
    <ResourceGroup>API</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apigrouop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f60546b6-0335-4c42-9228-455564122348</ProjectGuid>
    <PublishUrl>https://apigrouop.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIGrouop</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>